.task {
  &__container {
    display: flex;
  }

  &__description,
  &__description-input {
    width: 300px;
  }

  &__description {
    &--placeholder {
      color: $grey2;
    }
  }

  &__completion-indicator {
    user-select: none;
  }
}

.modify {
  &__container {
    background-color: $grey1;
    display: flex;
  }
}
